body {
  font-family: 'Tahoma', sans-serif;
  background-color: #f9f9f9;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 700px;
  background-image: url("../images/brgy186logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
}

.datetime-overlay {
  font-size: 16px;
}


.search-wrapper {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(5px);
}

.qr-modal {
  display: none;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.qr-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.qr-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: #ff4d4d;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
}

.qr-close:hover {
  background: #e60000;
}


.input-group .form-control {
  font-size: 16px;
}

.input-group .btn {
  font-size: 16px;
  padding: 10px 16px;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  max-width: 80%;
  height: 100%;
  background-color: #343a40;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1055;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

.sidebar.active {
  left: 0;
}

.sidebar h4 a {
  color: #fd8a5c;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.sidebar h4 a:hover {
  text-decoration: underline;
}
.sidebar ul {
  padding-left: 0;
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}


#sidebarToggle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1101; 
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  font-size: 1.2rem;
}


#sidebarOverlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 1050;
}

.sidebar.active ~ #sidebarOverlay {
  display: block;
}

@media (max-width: 768px) {
  .sidebar {
    width: 80%;
    left: auto;
    right: -80%;
  }
  .sidebar.active {
    right: 0;
  }
  .sidebar h4 {
    font-size: 1.5rem;
  }
  .sidebar ul li a {
    font-size: 1.2rem;
  }
}
